name: rustyfish PR check

on:
  push:
    branches:
    - */master
  pull_request:
    branches:
    - */master

jobs:
  check:
    name: build/check
    runs-on: ubuntu-latest
    steps:
      - name: install apt deps
        run: sudo apt-get update && sudo apt-get install -y libsdl2-ttf-dev libsdl2-gfx-dev libsdl2-image-dev
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: check
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: install apt deps
        run: sudo apt-get update && sudo apt-get install -y libsdl2-ttf-dev libsdl2-gfx-dev libsdl2-image-dev
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: test
  fmt:
    name: rustfmt-format
    runs-on: ubuntu-latest
    steps:
      - name: install apt deps
        run: sudo apt-get update && sudo apt-get install -y libsdl2-ttf-dev libsdl2-gfx-dev libsdl2-image-dev
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - run: rustup component add rustfmt
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check
  clippy:
    name: clippy-lint
    runs-on: ubuntu-latest
    steps:
      - name: install apt deps
        run: sudo apt-get update && sudo apt-get install -y libsdl2-ttf-dev libsdl2-gfx-dev libsdl2-image-dev
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - run: rustup component add clippy
      - uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: -- -D warnings
